<!DOCTYPE html>
<html data-theme="halloween">
  <head>
    <title>ReactRailsTemplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%=
      react_component(
        "Navbar",
        {
          menus: JSON.generate([{name: "Posts", href: root_path}]),
          homeUrl: root_path
        },
        prerender: true)
    %>

    <div class="container pt-10 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
